<%- include ('header')%>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard v2</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Admin Home</title>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <style>
              /* Căn giữa tiêu đề h2 */
              h2 {
                  text-align: center;
              }
          </style>
        </head>
        <body>
            
            <canvas id="salesChart"></canvas>
            <script>
                const ctx = document.getElementById('salesChart').getContext('2d');
                const salesChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: <%- JSON.stringify(chartData.labels) %>, // Dữ liệu nhãn
                        datasets: [{
                            label: 'Total Sold',
                            data: <%- JSON.stringify(chartData.values) %>, // Dữ liệu giá trị
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
            <h2 >Product Sales by Brand</h2>
        </body>
        </html>
        



      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



  <%- include ('footer')%>