<%- include ('header')%>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Brand</h1>
            <hr>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Brand</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action ="" method="POST" >
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Brand name</label>
                  <input type="text" name="name" class="form-control"  placeholder="Brand name">
                </div>
                
                <div class="form-group">
                    <label for="exampleInputPassword1">Operating System</label>
                    <input type="text" name="os" class="form-control" placeholder="Operating System">
                  </div>
                
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-success"><i class = "fa fa-plus"></i> Add</button>
                <a href="/brand" class="btn btn-danger"><i class = "fa fa-arrow-left"></i> Exit</a>
              </div>
            </form>
          </div>
          <!-- /.card -->

          
    </section>
</div>
  <%- include ('footer')%>

